{
  "extends": [
    // "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-trailing-spaces": [
      "error",
      { "skipBlankLines": true },
    ],
    "vue/no-unused-vars": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-extra-semi": "off",
    "semi": [
      "error",
      "never"
    ],
    "semi-style": [
      "error",
      "last"
    ],
    "no-console": "off",
    "vue/no-textarea-mustache": "off",
    "vue/require-default-prop": "off",
    "vue/html-quotes": ["error", "single"],
    "vue/max-attributes-per-line": ["error", {
      "singleline": 1,
      "multiline": {
        "max": 1,
        "allowFirstLine": false
      }
    }],
    "vue/multiline-html-element-content-newline": ["error", {
      "ignoreWhenEmpty": true,
      "ignores": ["pre"],
      "allowEmptyLines": false
    }]
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}