

html {
  background-color: $color-light;
  color: $color-gray-700;
}

h1, h2, h3, h4, h5 .heading {
  color: $color-dark;
  font-family: $font-heading;
}

a, button {
  cursor: pointer;
}

a { color: $color-blue; }


.theme-dark {
  color: $color-white;
  background-color: $color-black;
  h1, h2, h3, h4, h5 .heading {
    color: $color-white;
  }
}

@mixin bright-interaction {
  &:hover, &:active, &:focus {
    filter:  brightness(150%);
  }
}

@mixin dark-interaction {
  &:hover, &:active, &:focus {
    filter:  brightness(50%);
  }
}

@each $token, $value in $tokens-map {
  @if str-index($token, 'color') {
    $colorname: str-slice($token, 7);
    a, button {
      .text-#{$colorname}, &.text-#{$colorname} {
        @if (lightness($value) > 65) {
          @include dark-interaction;
        } @else {
          @include bright-interaction;
        }
      }
    }
  }
}

