@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

// Custom Base Styles

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  @apply bg-light-4 text-dark-2 border-light-3;

  .theme-dark-mode, &.theme-dark-mode {
    @apply bg-dark-0 text-white border-dark-4;
  }
}

*:focus { @apply outline-none shadow-outline }

pre, code, .font-mono { 
  font-variant: common-ligatures tabular-nums;
  font-feature-settings: 'tnum';
}
