// Custom Component Styles

// Please use utility classes wherever possible. Options include:
// - Tailwind classes
// - Extend Tailwind to include the utility class you need
// - Add to ./custom-utilities

// TODO: refactor the styles below into utilities where possible

// -- ICON
.icon {
  &.large svg {
    width: 48px;
    height: 48px;
  }
  &.medium svg {
    width: 24px;
    height: 24px;
  }
  &.small svg {
    width: 16px;
    height: 16px;
  }
}

// -- NAVBAR
:root {
  --nav-bg: theme('colors.dark');
  --nav-color: theme('colors.grey');
  --nav-color-active: theme('colors.white');
  --nav-active-filter: var(--filter-bright);
}

.nav-bar {
  @media (min-width: 640px) {
    --logo-url: var(--logo-dark);
    --logo-width: 250px;
  }

  &.nav-alt{
    --nav-bg: theme('colors.light');
    --nav-color: theme('colors.gray.700');
    --nav-color-active: theme('colors.dark');
    --nav-active-filter: var(--filter-dim);
    @media (min-width: 640px) {
      --logo-url: var(--logo-light)
    }
  }

  background-color: var(--nav-bg);
  .swayable-logo {
    width: var(--logo-width);
    background-image: var(--logo-url);
  }
  .nav-item {
    color: var(--nav-color);
    &:hover, &:active, &:focus {
      span {
        filter: var(--nav-active-filter);
      }
    }
    &.active, &.router-link-active {
      border-bottom: 0.25rem solid theme('colors.grey');
      span {
        color: var(--nav-color-active);
        padding-bottom: 0.5rem !important;
      }
    }
  }
  .nav-bar-right .nav-drop-dropdown { right: 0; }
  .nav-bar-left .nav-drop-dropdown { left: 0; }
  .nav-drop-dropdown {
    background-color: var(--nav-bg);
    .active, .router-link-active {
      border-bottom: 0;
    }    
  }
}

[data-theme='dark'] {
  .nav-bar.nav-alt {
    --nav-color: theme('colors.grey');
    --nav-bg: theme('colors.darker');
    --nav-active-filter: var(--filter-bright);
    --nav-color-active: theme('colors.white');
    @media (min-width: 640px) {
      --logo-url: var(--logo-dark)
    }
  }
}

// -- WORDCHART
.word-chart-word { cursor: default }
.word-chart-word.interactive {
  cursor: pointer;
  &:hover { filter: brightness(120%) }
}
