// Custom CSS Utilities
.bg-inherit { background: inherit; }

.typography-1 {
  @apply text-4xl font-bold;
  line-height: 58px;
}
.typography-2 {
  @apply text-3xl font-bold;
  line-height: 29px;
}
.typography-3 {
  @apply text-2xl font-semibold;
  line-height: 29px;
}
.typography-4 {
  @apply text-xl;
  line-height: 24px;
}
.typography-5 {
  @apply text-lg;
  line-height: 20px;
}
.typography-6 {
  @apply text-md;
  line-height: 14px;
}
.typography-7 {
  @apply text-sm;
  line-height: 14px;
}
.typography-8 {
  @apply text-xs;
  line-height: 12px;
}
