@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

// Custom Base Styles

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

pre, code, .font-mono { 
  font-variant: common-ligatures tabular-nums;
  font-feature-settings: 'tnum';
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold
}
h1 {
  @apply text-4xl
}
h2 {
  @apply text-3xl
}
h3 {
  @apply text-2xl
}
h4 {
  @apply text-xl
}
h5 {
  @apply text-lg
}
h6 {
  @apply text-base
}