/* GLOBAL: INCLUDES
 *
 * It is recommended to only include variables,
 * mixins, etc. in this file, to prevent duplicated
 * CSS in your final, compiled files.
 */
 
@import './bulma-template';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import './custom-base-styles';
@import './custom-utilities';
