// Custom CSS Utilities
.bg-inherit { background: inherit; }
.colors-transition { @apply transition-colors duration-200 ease-in-out }


// TYPOGRAPHY
.typography-1 {
  @apply text-4xl font-bold;
  line-height: 58px;
}
.typography-2 {
  @apply text-3xl font-bold;
  line-height: 29px;
}
.typography-3 {
  @apply text-2xl font-semibold;
  line-height: 29px;
}
.typography-4 {
  @apply text-xl;
  line-height: 24px;
}
.typography-5 {
  @apply text-lg;
  line-height: 20px;
}
.typography-6 {
  @apply text-md;
  line-height: 14px;
}
.typography-7 {
  @apply text-sm;
  line-height: 14px;
}
.typography-8 {
  @apply text-xs;
  line-height: 12px;
}

// COLORS
.bg-container { @apply bg-light-4 }
.bg-card-sub { @apply bg-light-5 }
.bg-card { @apply bg-light-6 }
.bg-card-hover { @apply bg-white }
.border-default { @apply border-light-3 }

.bg-disabled { @apply bg-light-2 }

.text-quarternary { @apply text-light-0 }
.text-tertiary { @apply text-dark-6 }
.text-secondary { @apply text-dark-4 }
.text-primary { @apply text-dark-2 }

.bg-active { @apply bg-blue-1 text-white }
.bg-action {
  @apply bg-blue-1 text-white;
  &:hover, &:focus { @apply bg-blue-2 }
  &:active { @apply bg-blue-3 }
}

.bg-destructive {
  @apply bg-red-1 text-white;
  &:focus, &:hover { @apply bg-red-2 }
  &:active { @apply bg-red-3 }
}

.theme-dark-mode {
  .bg-container { @apply bg-dark-0; }
  .bg-card-sub { @apply bg-dark-1; }
  .bg-card { @apply bg-dark-2; }
  .bg-card-hover { @apply bg-dark-3; }
  .border-default { @apply border-dark-4; }
  
  .bg-disabled { @apply bg-light-0 }

  .text-quarternary { @apply text-light-2 }
  .text-tertiary { @apply text-light-3 }
  .text-secondary { @apply text-light-4 }
  .text-primary { @apply text-light-6 }

  .bg-active { @apply bg-blue-3 text-dark-0 }
  .bg-action {
    @apply bg-blue-3 text-dark-0;
    &:hover, &:focus { @apply bg-blue-4 }
    &:active { @apply bg-blue-5 }
  }

  .bg-destructive {
    @apply bg-red-3 text-dark-0;
    &:hover, &:focus { @apply bg-red-4 }
    &:active { @apply bg-red-5 }
  }
}





