/**
 * These are style overrides for Vue Styleguidist
 * (the odd formatting hence most of the classes are dynamic)
 */

/* BASE
--------------------------------------------- */
html {
  background: theme('colors.grey-light');
  font-family: theme('fontFamily.sans') !important;
}


// HEADINGS
h1, h2, h3, h4, h5, h6 { font-weight: 600 !important }
h1 { font-size: theme('text-4xl') !important }
h2 { font-size: theme('text-3xl') !important }
h3 { font-size: theme('text-2xl') !important }
h4 { font-size: theme('text-xl') !important }
h5 { font-size: theme('text-lg') !important }
[class^="rsg--heading"], h1[class^="rsg--heading"] > * {
  font-style: normal !important;
}

// Background of page
div.rsg--root-1 {
  background: theme('colors.grey-light');
  position: relative;
}
// Main content
main[class^="rsg--content"] {
  padding: theme('spacing.4') theme('spacing.6');
  @media (min-width: theme('screens.md')) {
    padding: theme('spacing.4') theme('spacing.16');
  }
}

[data-testid='section-design-tokens'] {
  .vueds-tabs, .CodeMirror {
    display: none !important;
  }
}

// Resetting margins for Styleguidist
header[class^="rsg--header"] > div[class^="rsg--wrapper"],
section > div[class^="rsg--wrapper"] + article[class^="rsg--root"],
article[class^="rsg--root"] div[class^="rsg--root"] {
  margin: 0 !important;
}

// Display rsg--roots as flex
main section section > div > div[class^="rsg--root"] {
  display: flex;
  flex-direction: column;
}

img[title='Code Repo'] {
  width: 40px;
  border: 1px solid theme('colors.grey');
  border-radius: 100%;
  display: inline-block;
}

/* TYPOGRAPHY
--------------------------------------------- */

[class^="rsg--heading"], [class^="rsg--heading"] a {
  color: theme('colors.blue-dark') !important;
  margin-top: theme('spacing.5') !important;
}

// // Paragraphs
html, body, code, [class^="rsg--para"] {
  color: theme('colors.blue-dark') !important;
}

// Type layout adjustments
div[class^="rsg--docs"],
p[class^="rsg--para"],
h3[class^="rsg--heading"],
h4[class^="rsg--heading"] {
  max-width: 800px;
  width: 75%;
  p[class^="rsg--para"] {
    width: 100%;
  }
  @media (max-width: 1300px) {
    width: 100%;
  }
}

// Paragraphs inside table cells
td[class^="rsg--cell"] p {
  width: 100%;
}

// Fullscreen button
@media (max-width: theme('screens.sm')) {
  [aria-label="Open isolated"] {
    display: none;
  }
}

/* SIDEBAR
--------------------------------------------- */

// Sidebar logo
div[class^="rsg--logo"] {
  border-bottom: 0px;
  margin-top: theme('spacing.5');
  
  h1 {
    color: rgba(0, 0, 0, 0);
    background-image: url('//images.swayable.com/logos/light.svg');
    background-repeat: no-repeat;
    background-position: 7px center;
    font-size: theme('fontSize.lg') !important;
  }
}

// Sidebar version
p[class^="rsg--version"] {
  margin-top: theme('spacing.1');
  margin-right: theme('spacing.4');
  line-height: theme('lineHeight.none');
  letter-spacing: theme('letterSpacing.wide');
  font-size: theme('fontSize.xs');
  border-radius: theme('borderRadius.sm');
  &:before { content: 'v' }
  text-align: right;
}

// Sidebar search
div[class^="rsg--search"] {
  padding: 0;
  margin: 0 16px 16px;
}
div[class^="rsg--search"] input[class^="rsg--input"] {
  border-radius: 4px;
  padding: theme('spacing.2') theme('spacing.3');
  color: var(--nav-color-active);
  border: 1px solid theme('colors.grey');
  background: theme('colors.colors.grey-lighter');
  &:focus {
    border: 1px solid theme('colors.blue');
    &::-webkit-textfield-decoration-container {
      display: none !important;
    }
    &::-webkit-contacts-auto-fill-button {
      display: none !important;
    }
  }
  &::placeholder {
    color: theme('colors.grey-darker') !important;
    opacity: 1;
  }
}

// Sets sidebar background
div[class^="rsg--sidebar"] {
  min-height: 100%;
  position: absolute;
  bottom: unset;
  top: 0;
  color: var(--nav-color);
  background-color: theme('colors.grey-light');
  border: 0;
  @media (max-width: theme('screens.md')) {
    padding-bottom: theme('spacing.12');
  }

  a[class^="rsg--heading"] {
    display: none;
  }

  // // Sidebar sub navigations
  // ul ul[class^="rsg--list"] {
  //  max-height: 0;
  //   transition: max-height 0.25s ease-out;
  //   &.vueds-visible {
  //     height: auto;
  //   }
  // }

  // Hides '/GettingStarted/Components' link from the sidebar
  li[class^="rsg--item"]:first-child ul { display: none; } 

  // Sidebar list item
  // li[class^="rsg--item"] {
  //   margin: 0;
  //   display: block;
  //   &:focus {
  //     ul[class^="rsg--list"] {
  //       max-height: 400px !important;
  //     }
  //   }
  // }

  // Sidebar first level links
  a[class^="rsg--link"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: theme('spacing.1') theme('spacing.6');
    font-weight: 500;
    color: var(--nav-color);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: var(--nav-color-active)
    }
    &:active {
      color: var(--nav-color-active)
    }
  }

  // Sidebar active link
  // .vueds-active{
  //   ul[class^="rsg--list"] {
  //     max-height: 400px;
  //   }
  //   & > a,
  //   & > a:hover {
  //     color: var(--nav-color-active)
  //   }
  // }

  // Sidebar list
  ul[class^="rsg--list"] {
    padding-left: 0;

    // Sidebar sub-list
    ul {
      padding-left: theme('spacing.4');
      line-height: theme('lineHeight.snug');
      @media (max-width: #{theme('screens.sm')}) {
        padding: 0 0 0 theme('spacing.12');
        width: 90%;

        // Sidebar sub-list item
        li {
          display: inline;
          line-height: theme('lineHeight.relaxed');
        }
      }

      // Sidebar second level link
      a[class*="rsg--link"] {
        font-size: theme('fontSize.sm');
        font-weight: theme('fontWeight.normal');
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
        color: theme('colors.blue-dark');
        @media (max-width: #{theme('screens.sm')}) {
          float: left;
          padding: 0 theme('spacing.2') 0 0;
        }
      }
    }
  }
}

/* CODE & COMPONENT PREVIEWS
--------------------------------------------- */

// Previews of the components
div[class^="rsg--preview"] {
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  display: block;
  width: 100%;
  border-top-left-radius: theme('borderRadius.sm');
  border-top-right-radius: theme('borderRadius.sm');
}

// If you edit the component categories, you have to edit
// these to match as well.
div[data-preview="Components"],
div[data-preview="Templates"] {
  background: transparent;
  box-shadow: none;
  padding: 0;
  border: 0;

  // This hides code previews from the above examples
  & + div + div[class^="rsg--tab"] {
    display: none !important;
  }
}

// Clearfix to take care of floated content inside previews
div[data-preview]:after {
  content: "";
  display: table;
  clear: both;
}

// Code tabs and table
div[class^="rsg--tabs"],
table[class^="rsg--table"] {
  margin-bottom: theme('spacing.4');
  overflow-x: auto;
}
thead[class^="rsg--tableHead"] {
  border: 0;
}

.CodeMirror-sizer {
  // undo whack inline min-height being put on codemirror
  max-height: 800px;
  min-height: 0px !important;
}

// Codemirror and markdown code blocks
pre[class^="rsg--pre"],
.vueds-html.cm-s-night.CodeMirror,
.react-codemirror2 .CodeMirror.CodeMirror {
  background: theme('colors.black');
  border-bottom-left-radius: theme('borderRadius.sm');
  border-bottom-right-radius: theme('borderRadius.sm');
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  height: auto;
  max-width: 100%;
  border: 0;
  font-size: 1rem;
  margin: 0;
  min-height: theme('spacing.48') / 1.5;
  margin-bottom: theme('spacing.6');
  color: theme('colors.grey-lighter');
  padding: theme('spacing.6');
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  .CodeMirror-scroll,
  .CodeMirror-vscrollbar {
    overflow: hidden;
  }
  code {
    color: theme('colors.grey-lighter');
  }
}

// HTML preview needs some padding adjustments to match Styleguidist
.vueds-html.cm-s-night.CodeMirror {
  padding-left: theme('spacing.6') - 4px;
}

// VUE & HTML Code tabs
div[class^="rsg--tab"] {
  margin-top: theme('spacing.6');
  position: relative;
  .vueds-tabs {
    z-index: 5;
    border-radius: theme('borderRadius.sm');
    overflow: hidden;
    position: absolute;
    top: theme('spacing.2');
    right: theme('spacing.2');
    .vueds-tab {
      border: 0;
      margin: 0;
      letter-spacing: theme('letterSpacing.normal');
      font-size: 1rem;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      line-height: theme('lineHeight.none');
      padding: theme('spacing.2') theme('spacing.3');
      cursor: pointer;
      background: theme('colors.azure-dark');
      color: theme('colors.grey-lighter');
      &:active {
        background: theme('colors.blue');
      }
      &--active {
        background: theme('colors.blue');
      }
    }
  }
}

// Hidden HTML/VUE code preview
.vueds-hidden {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  top: -10000px;
  left: 0;
  position: absolute !important;
}

// Fixes a few layout bugs with CodeMirror
.CodeMirror-scroll.CodeMirror-scroll {
  overflow: hidden !important;
}

// Code highlighting for both CodeMirror and Markdown files
.hljs-variable,
.hljs-selector-class,
.cm-s-night span.cm-variable,
.cm-s-night span.cm-variable-2,
.cm-s-night span.cm-bracket,
.cm-s-night span.cm-tag,
.hljs-tag,
.hljs-name {
  color: theme('colors.grey-lighter') !important;
}
.hljs-attribute,
.hljs-keyword,
.hljs-attr,
.cm-s-night span.cm-operator,
.cm-s-night span.cm-number,
.cm-s-night span.cm-attribute {
  color: theme('colors.yellow') !important;
}
.cm-s-night span.cm-string,
.hljs-string {
  color: theme('colors.orange-light') !important;
}

span[class^="rsg--name"] code[class^="rsg--code"],
code.name {
  font-weight: 700;
  color: var(--text-color);
}
span[class^="rsg--type"] code[class^="rsg--code"],
code.type {
  background: theme('colors.grey');
  color: var(--text-color);
  padding: theme('spacing.1');
  border-radius: theme('borderRadius.sm');
}

/* COMPONENT STATUS LABELS
--------------------------------------------- */

// Here we’re setting a custom order for Styleguidist’s pieces
header[class^="rsg--header"] {
  order: 2;
}
div[class^="rsg--docs"],
article[class^="rsg--root"],
button[class^="rsg--button"] {
  order: 3;
}
div[class^="rsg--root"] div[class^="rsg--tabs"] {
  order: 4;
}

// Status label is shown in top right corner for each component
.status {
  font-weight: 400;
  order: 1;
  align-self: flex-end;
  cursor: help;
  line-height: theme('lineHeight.none');
  background: theme('colors.grey-dark');
  padding: theme('spacing.2') theme('spacing.4') theme('spacing.2')/1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-radius: theme('borderRadius.sm');
  color: theme('colors.blue-dark');
  position: absolute;
  right: theme('spacing.24');
  top: theme('spacing.32');
  z-index: 2;
  @media (max-width: 1300px) {
    top: theme('spacing.24');
  }
  @media (max-width: #{theme('screens.md')}) {
    top: theme('spacing.16');
    right: theme('spacing.6');
  }
  &-ready {
    background: theme('colors.green');
    color: theme('colors.grey-lighter');
  }
  &-review {
    background: theme('colors.yellow');
    color: theme('colors.blue-dark');
  }
  &-planned {
    background: theme('colors.blue');
    color: theme('colors.grey-lighter');
  }
  &-red {
    background: theme('colors.red');
    color: theme('colors.grey-lighter');
  }
}

/* TABLES
--------------------------------------------- */
table[class^="rsg--table"] {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  th {
    padding: theme('spacing.4') theme('spacing.12') theme('spacing.4') theme('spacing.4');
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    background: theme('colors.grey-lighter');
    color: theme('colors.blue');
    text-align: left;
  }
  th[class^="rsg--cellHeading"],
  td {
    padding: theme('spacing.4') theme('spacing.12') theme('spacing.4') theme('spacing.4');
    background: transparent;
  }
  td {
    font-size: 1rem;
    padding: theme('spacing.4') theme('spacing.12') theme('spacing.4') theme('spacing.4');
    &:first-child {
      font-weight: 700;
      white-space: nowrap;
    }
  }
  tr {
    border-bottom: 1px solid theme('colors.grey');
  }
  tbody tr:last-child {
    border-bottom: 0;
  }
}

thead[class^="rsg--thead"] {
  th:first-child {
    border-top-left-radius: theme('borderRadius.sm');
    border-bottom-left-radius: theme('borderRadius.sm');
  }
  th:last-child {
    border-top-right-radius: theme('borderRadius.sm');
    border-bottom-right-radius: theme('borderRadius.sm');
  }
}

/* HIDDEN STYLEGUIDIST FUNCTIONALITY
--------------------------------------------- */

div[class^="rsg--tabButtons"],
div[class^="rsg--controls"],
div[class^="rsg--pathline"],
footer[class^="rsg--footer"] {
  display: none !important;
}

/* HIDDEN FUNCTIONALITY
--------------------------------------------- */

// Hide private components
.hide-private,
.hide-private + div,
a[href="#private-components"],
a[href="#private-components"] + ul {
  display: none !important;
}

// Hide components under tokens
a[href="/#/Design%20Tokens"] + ul {
  display: none !important;
}

// Hide Private components and placeholder sections
ul a[href*="/#/Getting Started/Components"],
ul a[href*="/#/Design Tokens/Color"],
ul a[href*="/#/Design Tokens/Spacing"],
ul a[href*="/#/Design Tokens/Fonts"],
ul a[href*="/#/Design Tokens/FontSize"],
ul a[href*="/#/Design Tokens/All"],
ul a[href*="/#/Private Components"] {
  display: none !important;
}


code {
  font-variant: common-ligatures tabular-nums;
  color: theme('colors.red') !important;
  font-weight: theme('fontWeight.thin') !important;
  background-color: var(--bg-color) !important;
  padding: theme('spacing.px') theme('spacing.1') !important;
  display: inline-block;
  font-size: theme('fontSize.sm') !important;
  border-radius: theme('borderRadius.none')
}
// .page {
//   @include pagestyle;
// }

input {
  background: var(--bg-color);
  padding: theme('spacing.1') theme('spacing.2');
  border-radius: theme('borderRadius.sm')
}